.table{
  text-align: center;
  margin: 5rem ;
}
.table tr,th,td{
  border: 1px solid black;
}
.pagination{
  display: flex;
  text-align: center;
  margin: 3rem 0  3rem 8rem;
  padding: 10px;
}
.pagination > span{
  border: 1px solid gray;
  padding: 10px;
  cursor: pointer;
}
.s{
  background-color: rgb(170, 177, 186);
}
input{
  margin: 1rem 0 0 5rem ;
  padding: 10px;
  width: 35%;
}
h1{
  margin-left: 5rem;
}